:root {
  --black: #2b2d42;
  --white: #edf2f4;
}
body {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--black);
  color: var(--white);
  font-weight: bolder;
}
.main-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.stats-container {
  width: 30%;
}

input {
  margin-left: 10px;
  width: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.light-mode {
  background-color: var(--white);
  color: var(--black);
}

#mode {
  border: none !important;
  background: transparent;
  font-size: 40px;
  position: absolute;
  right: 50px;
  top: 0;
  right: 0;
}

#mode:hover {
  cursor: pointer;
}

#changeIcon {
  color: var(--white);
}

.hero {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 10px;
}

#dice,
#roll {
  margin-bottom: 5px;
}

#submit {
  margin-top: 10px;
  background-color: #edf2f4;
  border-radius: 5px;
  height: 4vh;
  width: 5rem;
}

#submit:hover {
  background-color: #dfe4e6;
  cursor: pointer;
}

.stats-container {
  display: flex;
  flex-direction: column;
}
